workflows/backup/mac/galley-recipe-scanner.json
{
  "updatedAt": "2025-12-21T01:47:12.973Z",
  "createdAt": "2025-12-16T22:16:43.791Z",
  "id": "jhz0aTSMaqnbHddS",
  "name": "Galley Recipe Scanner",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "name": "Daily 6am1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        7840,
        3600
      ],
      "id": "d4dbe251-a1ac-4877-b609-a124d16130e3"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1GfSx6VyB9FqFkmpjX2-wB2q-sptbxbf3' in parents and trashed = false and mimeType != 'application/vnd.google-apps.folder'",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "name": "List Scanned Recipes1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8064,
        3504
      ],
      "id": "4f165686-1429-4a24-9cf3-29f4a7a66d37",
      "credentials": {
        "googleApi": {
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.folder",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Filter Files Only1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        8288,
        3504
      ],
      "id": "86e4b84b-fd4b-47cd-95ef-9e698f36070c"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        8512,
        3504
      ],
      "id": "3411e569-648e-4f61-93bb-903e8620c41b",
      "credentials": {
        "googleApi": {
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const filename = $input.item.json.name || '';\nconst ext = filename.toLowerCase().split('.').pop();\nconst mimeType = $input.item.json.mimeType || '';\nconst fileId = $input.item.json.id;\n\nreturn {\n  json: {\n    fileId: fileId,\n    filename: filename,\n    fileExtension: ext,\n    mimeType: mimeType\n  },\n  binary: {\n    data: $input.item.binary.data\n  }\n};"
      },
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8736,
        3504
      ],
      "id": "d05d1c9f-2d30-4d76-b2c9-7a66a15d6e4c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "0d81d906-a80f-4372-ba35-52d5d0f2e14e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9184,
        3504
      ],
      "id": "a88d211c-89d0-4c8b-9602-abd93506c8c4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiRequest) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "name": "Claude Extract PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9856,
        3408
      ],
      "id": "ed516388-40a4-40c7-8604-c69672ef2525",
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract data from Preserve PDF Metadata Set node\nconst claudeResponse = $json.claudeResponse;\nconst fileId = $json.fileId;\nconst filename = $json.filename;\n\n// Extract Claude response content\nconst content = claudeResponse.content[0].text;\n\nlet recipeData;\ntry {\n  let cleanJson = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  recipeData = JSON.parse(cleanJson);\n} catch (e) {\n  recipeData = {\n    source_file: filename,\n    scanned_date: new Date().toISOString().split('T')[0],\n    processed_date: new Date().toISOString(),\n    processing_notes: 'Failed to parse Claude response: ' + e.message,\n    confidence: 'low',\n    recipes: [],\n    raw_text_extract: content\n  };\n}\n\nif (!recipeData.source_file) {\n  recipeData.source_file = filename;\n}\nif (!recipeData.processed_date) {\n  recipeData.processed_date = new Date().toISOString();\n}\nif (!recipeData.scanned_date) {\n  recipeData.scanned_date = new Date().toISOString().split('T')[0];\n}\n\nrecipeData.fileId = fileId;\nrecipeData.filename = filename;\n\nreturn { json: recipeData };"
      },
      "name": "Parse PDF Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10304,
        3408
      ],
      "id": "e6febb66-fa2c-4cc0-864b-a823dd008791"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const binaryBuffer = $input.item.binary.data;\nlet base64String;\n\nif (typeof binaryBuffer === 'string') {\n  base64String = binaryBuffer;\n} else if (binaryBuffer instanceof ArrayBuffer) {\n  const view = new Uint8Array(binaryBuffer);\n  let binary = '';\n  for (let i = 0; i < view.byteLength; i++) {\n    binary += String.fromCharCode(view[i]);\n  }\n  base64String = btoa(binary);\n} else if (Buffer && Buffer.isBuffer(binaryBuffer)) {\n  base64String = binaryBuffer.toString('base64');\n} else if (binaryBuffer.data && typeof binaryBuffer.data === 'string') {\n  base64String = binaryBuffer.data;\n} else {\n  base64String = btoa(String(binaryBuffer));\n}\n\nconst filename = $input.item.json.name || $input.item.json.filename;\nconst fileId = $input.item.json.id || $input.item.json.fileId;\n\nconst requestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 8192,\n  system: 'You are a recipe extraction specialist. Extract recipe data from the provided image and return ONLY valid JSON with no markdown formatting. Return this exact structure: {\"source_file\": \"filename\", \"scanned_date\": \"YYYY-MM-DD\", \"processed_date\": \"ISO timestamp\", \"processing_notes\": \"your notes\", \"confidence\": \"high|medium|low\", \"recipes\": [{\"name\": \"Recipe Name\", \"description\": \"Brief description\", \"ingredients\": [{\"name\": \"ingredient\", \"amount\": 1, \"unit\": \"cup\", \"notes\": \"diced\"}], \"instructions\": [\"Step 1\", \"Step 2\"], \"source_url\": null, \"source_name\": \"Book Title, p.XX\", \"prep_time\": 15, \"cook_time\": 30, \"total_time\": 45, \"servings\": 4, \"difficulty\": \"easy|medium|hard\", \"tags\": [\"tag1\", \"tag2\"], \"one_pot\": true, \"no_oven\": true, \"pressure_cooker\": false, \"notes\": \"Tips and storage\", \"incomplete_fields\": [], \"extraction_notes\": null}], \"raw_text_extract\": \"Include if confidence is low\"} This is for a sailboat galley - flag recipes requiring an oven (no_oven: false). Prefer one-pot meals. If image is upside down or rotated, read it correctly. Return ONLY JSON.',\n  messages: [{\n    role: 'user',\n    content: [\n      {\n        type: 'image',\n        source: {\n          type: 'base64',\n          media_type: 'image/jpeg',\n          data: base64String\n        }\n      },\n      {\n        type: 'text',\n        text: `Extract all recipes from this image. Filename: ${filename}`\n      }\n    ]\n  }]\n};\n\nreturn {\n  json: {\n    apiRequest: requestBody,\n    filename: filename,\n    fileId: fileId\n  }\n};"
      },
      "name": "Build Image Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9632,
        3600
      ],
      "id": "7dbb296f-49a8-4a1a-9f9c-108ae1f38d26"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiRequest) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "name": "Claude Extract Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9856,
        3600
      ],
      "id": "5e1587e8-3fbb-48f3-a7cd-d5d8f4f0371e",
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract data from Preserve Image Metadata Set node\nconst claudeResponse = $json.claudeResponse;\nconst fileId = $json.fileId;\nconst filename = $json.filename;\n\n// Extract Claude response content\nconst content = claudeResponse.content[0].text;\n\nlet recipeData;\ntry {\n  let cleanJson = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  recipeData = JSON.parse(cleanJson);\n} catch (e) {\n  recipeData = {\n    source_file: filename,\n    scanned_date: new Date().toISOString().split('T')[0],\n    processed_date: new Date().toISOString(),\n    processing_notes: 'Failed to parse Claude response: ' + e.message,\n    confidence: 'low',\n    recipes: [],\n    raw_text_extract: content\n  };\n}\n\nif (!recipeData.source_file) {\n  recipeData.source_file = filename;\n}\nif (!recipeData.processed_date) {\n  recipeData.processed_date = new Date().toISOString();\n}\nif (!recipeData.scanned_date) {\n  recipeData.scanned_date = new Date().toISOString().split('T')[0];\n}\n\nrecipeData.fileId = fileId;\nrecipeData.filename = filename;\n\nreturn { json: recipeData };"
      },
      "name": "Parse Image Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10304,
        3600
      ],
      "id": "23ddf22d-9755-4b84-91e2-e66169845158"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "bdc3b716-d12d-4039-a171-aed669b45a8e"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10528,
        3504
      ],
      "id": "3ab23234-da39-44d4-ad3b-b286f08dec22"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "dougkimmerly",
          "mode": "list"
        },
        "repository": {
          "__rl": true,
          "value": "galley-meal-planner",
          "mode": "list"
        },
        "filePath": "={{ 'pending-recipes/' + $now.format('yyyy-MM-dd') + '_' + $json.source_file.replace(/\\.[^/.]+$/, '') + '.json' }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "={{ 'Add scanned recipe: ' + ($json.recipes[0]?.name || $json.source_file) }}"
      },
      "name": "Push to Pending",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        11424,
        3216
      ],
      "id": "f68e5ca0-b095-4377-8fbc-ac3f164e7679",
      "webhookId": "ef504855-7f01-4d6b-bcbd-0372f1424a1d",
      "credentials": {
        "githubApi": {
          "name": "GitHub - Workflow Backup"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "dougkimmerly",
          "mode": "list"
        },
        "repository": {
          "__rl": true,
          "value": "galley-meal-planner",
          "mode": "list"
        },
        "filePath": "={{ 'failed-recipes/' + $now.format('yyyy-MM-dd') + '_' + $json.source_file.replace(/\\.[^/.]+$/, '') + '.json' }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "={{ 'Add failed recipe extraction: ' + $json.source_file }}"
      },
      "name": "Push to Failed",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        10752,
        3504
      ],
      "id": "39d17bbe-60d1-44c1-aec4-712a1228e278",
      "webhookId": "b6b53e31-292f-4bc4-acec-1eac21f9ac15",
      "credentials": {
        "githubApi": {
          "name": "GitHub - Workflow Backup"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bjJJgjGRezDcWhPCd3a3GHqp-txxEOLA",
          "mode": "id"
        }
      },
      "name": "Move to Processed (Success)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        11424,
        3408
      ],
      "id": "ce8d1634-8bb7-47c4-a17d-08752175dce9",
      "credentials": {
        "googleApi": {
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1soIqmCzyN-6bTc8D1uoOmToaP_OyHqwa",
          "mode": "id"
        }
      },
      "name": "Move to Processed (Failed)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        10752,
        3696
      ],
      "id": "960b8c10-fdd0-4e1e-8fbe-bff9e8870045",
      "credentials": {
        "googleApi": {
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "name": "Extract From File (PDF to Base64)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        9408,
        3408
      ],
      "id": "e5a33776-3f29-4293-bcf7-5772f8477768"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n v2.0.2 Code Node: Build Claude Request for PDF\n// Receives base64 PDF data from Extract From File node\n\n// Extract From File node outputs base64 data in $json.data\nconst base64String = $json.data;\n\n// Get filename and fileId from the original item (passed through from Extract Metadata)\nconst filename = $input.item.json.filename || $('Extract Metadata').item.json.filename;\nconst fileId = $input.item.json.fileId || $('Extract Metadata').item.json.fileId;\n\nconst requestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 32768,\n  system: `You are a recipe extraction specialist. Extract recipe data from the provided PDF document and return ONLY valid JSON with no markdown formatting.\n\nIMPORTANT: For each recipe, include \"page_numbers\" - an array of the PDF page numbers (1-indexed) where that recipe appears. This is critical for linking recipes back to their source pages.\n\nReturn this exact structure:\n{\n  \"source_file\": \"filename\",\n  \"scanned_date\": \"YYYY-MM-DD\",\n  \"processed_date\": \"ISO timestamp\",\n  \"processing_notes\": \"your notes\",\n  \"confidence\": \"high|medium|low\",\n  \"total_pages\": 5,\n  \"recipes\": [{\n    \"name\": \"Recipe Name\",\n    \"page_numbers\": [1, 2],\n    \"description\": \"Brief description\",\n    \"ingredients\": [{\"name\": \"ingredient\", \"amount\": 1, \"unit\": \"cup\", \"notes\": \"diced\"}],\n    \"instructions\": [\"Step 1\", \"Step 2\"],\n    \"source_url\": null,\n    \"source_name\": \"Book Title, p.XX\",\n    \"prep_time\": 15,\n    \"cook_time\": 30,\n    \"total_time\": 45,\n    \"servings\": 4,\n    \"difficulty\": \"easy|medium|hard\",\n    \"tags\": [\"tag1\", \"tag2\"],\n    \"one_pot\": true,\n    \"no_oven\": true,\n    \"pressure_cooker\": false,\n    \"notes\": \"Tips and storage\",\n    \"incomplete_fields\": [],\n    \"extraction_notes\": null\n  }],\n  \"raw_text_extract\": \"Include if confidence is low\"\n}\n\nThis is for a sailboat galley - flag recipes requiring an oven (no_oven: false). Prefer one-pot meals. If text appears upside down or rotated, read it correctly. Return ONLY JSON.`,\n  messages: [{\n    role: 'user',\n    content: [\n      {\n        type: 'document',\n        source: {\n          type: 'base64',\n          media_type: 'application/pdf',\n          data: base64String\n        }\n      },\n      {\n        type: 'text',\n        text: `Extract all recipes from this PDF document. Filename: ${filename}. Remember to include page_numbers for each recipe.`\n      }\n    ]\n  }]\n};\n\nreturn {\n  json: {\n    apiRequest: requestBody,\n    filename: filename,\n    fileId: fileId\n  }\n};"
      },
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "position": [
        9632,
        3408
      ],
      "id": "c08cc353-b699-4aef-bc65-d59503c483ce",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7dec569-af9d-4050-845f-e526f4775b1c",
              "name": "claudeResponse",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "e6ad4441-3f49-4823-9f4f-96647f1d5b3a",
              "name": "fileId",
              "value": "={{ $('Extract Metadata').item.json.fileId }}",
              "type": "string"
            },
            {
              "id": "436c8fe9-7705-4b41-bd15-ed7c3e3c4d58",
              "name": "filename",
              "value": "={{ $('Extract Metadata').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Preserve PDF Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10080,
        3408
      ],
      "id": "9c306baf-745f-4b58-8a21-62d0524df0d5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b15526a-9281-4110-a903-75f98ac7e62a",
              "name": "claudeResponse",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "f747400c-83d7-40f3-b11e-3a331bae51f5",
              "name": "fileId",
              "value": "={{ $('Extract Metadata').item.json.fileId }}",
              "type": "string"
            },
            {
              "id": "0707f763-5aff-444a-8484-bf6f38b718ba",
              "name": "filename",
              "value": "={{ $('Extract Metadata').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Preserve Image Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10080,
        3600
      ],
      "id": "8a69075a-079a-4481-a907-6b146add24b2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "recipeData",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "2",
              "name": "recipes",
              "value": "={{ $json.recipes }}",
              "type": "array"
            },
            {
              "id": "3",
              "name": "file_base64",
              "value": "={{ $('Extract From File (PDF to Base64)').item.json.data }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Preserve Binary for Galley Upload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10752,
        3312
      ],
      "id": "6ea80c47-dde6-4b61-b28e-05ab2b490fe8"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Preserve both binary AND base64\nconst binaryBuffer = $input.item.binary.data;\nlet base64String;\n\nif (typeof binaryBuffer === 'string') {\n  base64String = binaryBuffer;\n} else if (binaryBuffer instanceof ArrayBuffer) {\n  const view = new Uint8Array(binaryBuffer);\n  let binary = '';\n  for (let i = 0; i < view.byteLength; i++) {\n    binary += String.fromCharCode(view[i]);\n  }\n  base64String = btoa(binary);\n} else if (Buffer && Buffer.isBuffer(binaryBuffer)) {\n  base64String = binaryBuffer.toString('base64');\n} else if (binaryBuffer.data && typeof binaryBuffer.data === 'string') {\n  base64String = binaryBuffer.data;\n} else {\n  base64String = btoa(String(binaryBuffer));\n}\n\nreturn {\n  json: {\n    ...($input.item.json || {}),\n    file_base64: base64String\n  },\n  binary: $input.item.binary  // PRESERVE THE ORIGINAL BINARY\n};"
      },
      "name": "Preserve File as Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8960,
        3504
      ],
      "id": "c9591c2b-0c72-42b1-a7ba-c3835739471a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.20.16:3122/api/scans/upload-and-split",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"file\": $json.file_base64, \"filename\": $json.filename, \"recipes\": $json.recipes } }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Upload Scan to Galley",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10976,
        3312
      ],
      "id": "fe6b1c16-f8ad-470c-b66a-f0d25706e91a",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Merge scan paths from Galley upload with original recipe data\n// Input: Upload Scan to Galley response with recipeScanPaths\n// Output: Enriched recipe data with source_image_path per recipe\n\n// Get the original recipe data from Check Confidence\nconst originalData = $('Check Confidence').item.json;\n\n// Get the scan paths from Upload Scan to Galley response\nconst uploadResponse = $json;\nconst scanPaths = uploadResponse.recipeScanPaths || [];\n\n// Create a map of recipe index to scan path\nconst scanPathMap = {};\nfor (const sp of scanPaths) {\n    if (sp.recipeIndex !== undefined && sp.scanPath) {\n        scanPathMap[sp.recipeIndex] = sp.scanPath;\n    }\n}\n\n// Clone the original data and add scan paths to each recipe\nconst enrichedData = JSON.parse(JSON.stringify(originalData));\n\nif (enrichedData.recipes && Array.isArray(enrichedData.recipes)) {\n    enrichedData.recipes = enrichedData.recipes.map((recipe, index) => {\n        return {\n            ...recipe,\n            source_image_path: scanPathMap[index] || null\n        };\n    });\n}\n\n// Also add the original file path\nenrichedData.original_scan_path = uploadResponse.originalFile || null;\n\nreturn { json: enrichedData };"
      },
      "name": "Merge Scan Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11200,
        3312
      ],
      "id": "157faa1a-e47d-4a02-8199-5ac384faa68d"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scanner-trigger",
        "options": {}
      },
      "id": "5a0bc1e0-1b41-4417-b3f2-69210ed6aa9f",
      "name": "Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        7840,
        3408
      ],
      "webhookId": "2bf76818-c400-41a3-a9b2-5f3e418568a5"
    }
  ],
  "connections": {
    "Upload Scan to Galley (Code)": {
      "main": [
        []
      ]
    },
    "Daily 6am1": {
      "main": [
        [
          {
            "node": "List Scanned Recipes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Scanned Recipes1": {
      "main": [
        [
          {
            "node": "Filter Files Only1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Files Only1": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Preserve File as Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Extract From File (PDF to Base64)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Extract PDF": {
      "main": [
        [
          {
            "node": "Preserve PDF Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PDF Results": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Request": {
      "main": [
        [
          {
            "node": "Claude Extract Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Extract Image": {
      "main": [
        [
          {
            "node": "Preserve Image Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Results": {
      "main": [
        [
          {
            "node": "Check Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence": {
      "main": [
        [
          {
            "node": "Preserve Binary for Galley Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push to Failed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move to Processed (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File (PDF to Base64)": {
      "main": [
        [
          {
            "node": "Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          {
            "node": "Claude Extract PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve PDF Metadata": {
      "main": [
        [
          {
            "node": "Parse PDF Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Image Metadata": {
      "main": [
        [
          {
            "node": "Parse Image Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Binary for Galley Upload": {
      "main": [
        [
          {
            "node": "Upload Scan to Galley",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve File as Base64": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Scan to Galley": {
      "main": [
        [
          {
            "node": "Merge Scan Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Scan Paths": {
      "main": [
        [
          {
            "node": "Push to Pending",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move to Processed (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Webhook": {
      "main": [
        [
          {
            "node": "List Scanned Recipes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed"
  },
  "staticData": {
    "node:Daily 6am1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7fe81bc2-9863-449c-9d54-9876ddfe7ed3",
  "activeVersionId": "7fe81bc2-9863-449c-9d54-9876ddfe7ed3",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-16T22:16:43.815Z",
      "createdAt": "2025-12-16T22:16:43.815Z",
      "role": "workflow:owner",
      "workflowId": "jhz0aTSMaqnbHddS",
      "projectId": "JPWSGHc23xq8qrMV"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-21T01:47:16.000Z",
    "createdAt": "2025-12-21T01:47:12.980Z",
    "versionId": "7fe81bc2-9863-449c-9d54-9876ddfe7ed3",
    "workflowId": "jhz0aTSMaqnbHddS",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 6
              }
            ]
          }
        },
        "name": "Daily 6am1",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          7840,
          3600
        ],
        "id": "d4dbe251-a1ac-4877-b609-a124d16130e3"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "resource": "fileFolder",
          "searchMethod": "query",
          "queryString": "'1GfSx6VyB9FqFkmpjX2-wB2q-sptbxbf3' in parents and trashed = false and mimeType != 'application/vnd.google-apps.folder'",
          "returnAll": true,
          "filter": {},
          "options": {}
        },
        "name": "List Scanned Recipes1",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          8064,
          3504
        ],
        "id": "4f165686-1429-4a24-9cf3-29f4a7a66d37",
        "credentials": {
          "googleApi": {
            "id": "xD3CNJNP2PsFBAlC",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.mimeType }}",
                "rightValue": "application/vnd.google-apps.folder",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Filter Files Only1",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          8288,
          3504
        ],
        "id": "86e4b84b-fd4b-47cd-95ef-9e698f36070c"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "name": "Download File1",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          8512,
          3504
        ],
        "id": "3411e569-648e-4f61-93bb-903e8620c41b",
        "credentials": {
          "googleApi": {
            "id": "xD3CNJNP2PsFBAlC",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const filename = $input.item.json.name || '';\nconst ext = filename.toLowerCase().split('.').pop();\nconst mimeType = $input.item.json.mimeType || '';\nconst fileId = $input.item.json.id;\n\nreturn {\n  json: {\n    fileId: fileId,\n    filename: filename,\n    fileExtension: ext,\n    mimeType: mimeType\n  },\n  binary: {\n    data: $input.item.binary.data\n  }\n};"
        },
        "name": "Extract Metadata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8736,
          3504
        ],
        "id": "d05d1c9f-2d30-4d76-b2c9-7a66a15d6e4c"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.fileExtension }}",
                "rightValue": "pdf",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "0d81d906-a80f-4372-ba35-52d5d0f2e14e"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Is PDF?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          9184,
          3504
        ],
        "id": "a88d211c-89d0-4c8b-9602-abd93506c8c4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.apiRequest) }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 5000
              }
            }
          }
        },
        "name": "Claude Extract PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          9856,
          3408
        ],
        "id": "ed516388-40a4-40c7-8604-c69672ef2525",
        "credentials": {
          "anthropicApi": {
            "id": "puODxN0KmeaC8Jan",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Extract data from Preserve PDF Metadata Set node\nconst claudeResponse = $json.claudeResponse;\nconst fileId = $json.fileId;\nconst filename = $json.filename;\n\n// Extract Claude response content\nconst content = claudeResponse.content[0].text;\n\nlet recipeData;\ntry {\n  let cleanJson = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  recipeData = JSON.parse(cleanJson);\n} catch (e) {\n  recipeData = {\n    source_file: filename,\n    scanned_date: new Date().toISOString().split('T')[0],\n    processed_date: new Date().toISOString(),\n    processing_notes: 'Failed to parse Claude response: ' + e.message,\n    confidence: 'low',\n    recipes: [],\n    raw_text_extract: content\n  };\n}\n\nif (!recipeData.source_file) {\n  recipeData.source_file = filename;\n}\nif (!recipeData.processed_date) {\n  recipeData.processed_date = new Date().toISOString();\n}\nif (!recipeData.scanned_date) {\n  recipeData.scanned_date = new Date().toISOString().split('T')[0];\n}\n\nrecipeData.fileId = fileId;\nrecipeData.filename = filename;\n\nreturn { json: recipeData };"
        },
        "name": "Parse PDF Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10304,
          3408
        ],
        "id": "e6febb66-fa2c-4cc0-864b-a823dd008791"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const binaryBuffer = $input.item.binary.data;\nlet base64String;\n\nif (typeof binaryBuffer === 'string') {\n  base64String = binaryBuffer;\n} else if (binaryBuffer instanceof ArrayBuffer) {\n  const view = new Uint8Array(binaryBuffer);\n  let binary = '';\n  for (let i = 0; i < view.byteLength; i++) {\n    binary += String.fromCharCode(view[i]);\n  }\n  base64String = btoa(binary);\n} else if (Buffer && Buffer.isBuffer(binaryBuffer)) {\n  base64String = binaryBuffer.toString('base64');\n} else if (binaryBuffer.data && typeof binaryBuffer.data === 'string') {\n  base64String = binaryBuffer.data;\n} else {\n  base64String = btoa(String(binaryBuffer));\n}\n\nconst filename = $input.item.json.name || $input.item.json.filename;\nconst fileId = $input.item.json.id || $input.item.json.fileId;\n\nconst requestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 8192,\n  system: 'You are a recipe extraction specialist. Extract recipe data from the provided image and return ONLY valid JSON with no markdown formatting. Return this exact structure: {\"source_file\": \"filename\", \"scanned_date\": \"YYYY-MM-DD\", \"processed_date\": \"ISO timestamp\", \"processing_notes\": \"your notes\", \"confidence\": \"high|medium|low\", \"recipes\": [{\"name\": \"Recipe Name\", \"description\": \"Brief description\", \"ingredients\": [{\"name\": \"ingredient\", \"amount\": 1, \"unit\": \"cup\", \"notes\": \"diced\"}], \"instructions\": [\"Step 1\", \"Step 2\"], \"source_url\": null, \"source_name\": \"Book Title, p.XX\", \"prep_time\": 15, \"cook_time\": 30, \"total_time\": 45, \"servings\": 4, \"difficulty\": \"easy|medium|hard\", \"tags\": [\"tag1\", \"tag2\"], \"one_pot\": true, \"no_oven\": true, \"pressure_cooker\": false, \"notes\": \"Tips and storage\", \"incomplete_fields\": [], \"extraction_notes\": null}], \"raw_text_extract\": \"Include if confidence is low\"} This is for a sailboat galley - flag recipes requiring an oven (no_oven: false). Prefer one-pot meals. If image is upside down or rotated, read it correctly. Return ONLY JSON.',\n  messages: [{\n    role: 'user',\n    content: [\n      {\n        type: 'image',\n        source: {\n          type: 'base64',\n          media_type: 'image/jpeg',\n          data: base64String\n        }\n      },\n      {\n        type: 'text',\n        text: `Extract all recipes from this image. Filename: ${filename}`\n      }\n    ]\n  }]\n};\n\nreturn {\n  json: {\n    apiRequest: requestBody,\n    filename: filename,\n    fileId: fileId\n  }\n};"
        },
        "name": "Build Image Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          9632,
          3600
        ],
        "id": "7dbb296f-49a8-4a1a-9f9c-108ae1f38d26"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.apiRequest) }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 5000
              }
            }
          }
        },
        "name": "Claude Extract Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          9856,
          3600
        ],
        "id": "5e1587e8-3fbb-48f3-a7cd-d5d8f4f0371e",
        "credentials": {
          "anthropicApi": {
            "id": "puODxN0KmeaC8Jan",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Extract data from Preserve Image Metadata Set node\nconst claudeResponse = $json.claudeResponse;\nconst fileId = $json.fileId;\nconst filename = $json.filename;\n\n// Extract Claude response content\nconst content = claudeResponse.content[0].text;\n\nlet recipeData;\ntry {\n  let cleanJson = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  recipeData = JSON.parse(cleanJson);\n} catch (e) {\n  recipeData = {\n    source_file: filename,\n    scanned_date: new Date().toISOString().split('T')[0],\n    processed_date: new Date().toISOString(),\n    processing_notes: 'Failed to parse Claude response: ' + e.message,\n    confidence: 'low',\n    recipes: [],\n    raw_text_extract: content\n  };\n}\n\nif (!recipeData.source_file) {\n  recipeData.source_file = filename;\n}\nif (!recipeData.processed_date) {\n  recipeData.processed_date = new Date().toISOString();\n}\nif (!recipeData.scanned_date) {\n  recipeData.scanned_date = new Date().toISOString().split('T')[0];\n}\n\nrecipeData.fileId = fileId;\nrecipeData.filename = filename;\n\nreturn { json: recipeData };"
        },
        "name": "Parse Image Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10304,
          3600
        ],
        "id": "23ddf22d-9755-4b84-91e2-e66169845158"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.confidence }}",
                "rightValue": "low",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                },
                "id": "bdc3b716-d12d-4039-a171-aed669b45a8e"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Check Confidence",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          10528,
          3504
        ],
        "id": "3ab23234-da39-44d4-ad3b-b286f08dec22"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "dougkimmerly",
            "mode": "list"
          },
          "repository": {
            "__rl": true,
            "value": "galley-meal-planner",
            "mode": "list"
          },
          "filePath": "={{ 'pending-recipes/' + $now.format('yyyy-MM-dd') + '_' + $json.source_file.replace(/\\.[^/.]+$/, '') + '.json' }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "={{ 'Add scanned recipe: ' + ($json.recipes[0]?.name || $json.source_file) }}"
        },
        "name": "Push to Pending",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          11424,
          3216
        ],
        "id": "f68e5ca0-b095-4377-8fbc-ac3f164e7679",
        "webhookId": "ef504855-7f01-4d6b-bcbd-0372f1424a1d",
        "credentials": {
          "githubApi": {
            "id": "MUoEUR5IHYgyNoUf",
            "name": "GitHub - Workflow Backup"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "dougkimmerly",
            "mode": "list"
          },
          "repository": {
            "__rl": true,
            "value": "galley-meal-planner",
            "mode": "list"
          },
          "filePath": "={{ 'failed-recipes/' + $now.format('yyyy-MM-dd') + '_' + $json.source_file.replace(/\\.[^/.]+$/, '') + '.json' }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "={{ 'Add failed recipe extraction: ' + $json.source_file }}"
        },
        "name": "Push to Failed",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          10752,
          3504
        ],
        "id": "39d17bbe-60d1-44c1-aec4-712a1228e278",
        "webhookId": "b6b53e31-292f-4bc4-acec-1eac21f9ac15",
        "credentials": {
          "githubApi": {
            "id": "MUoEUR5IHYgyNoUf",
            "name": "GitHub - Workflow Backup"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.fileId }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1bjJJgjGRezDcWhPCd3a3GHqp-txxEOLA",
            "mode": "id"
          }
        },
        "name": "Move to Processed (Success)",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          11424,
          3408
        ],
        "id": "ce8d1634-8bb7-47c4-a17d-08752175dce9",
        "credentials": {
          "googleApi": {
            "id": "xD3CNJNP2PsFBAlC",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.fileId }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1soIqmCzyN-6bTc8D1uoOmToaP_OyHqwa",
            "mode": "id"
          }
        },
        "name": "Move to Processed (Failed)",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          10752,
          3696
        ],
        "id": "960b8c10-fdd0-4e1e-8fbe-bff9e8870045",
        "credentials": {
          "googleApi": {
            "id": "xD3CNJNP2PsFBAlC",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "name": "Extract From File (PDF to Base64)",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          9408,
          3408
        ],
        "id": "e5a33776-3f29-4293-bcf7-5772f8477768"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// n8n v2.0.2 Code Node: Build Claude Request for PDF\n// Receives base64 PDF data from Extract From File node\n\n// Extract From File node outputs base64 data in $json.data\nconst base64String = $json.data;\n\n// Get filename and fileId from the original item (passed through from Extract Metadata)\nconst filename = $input.item.json.filename || $('Extract Metadata').item.json.filename;\nconst fileId = $input.item.json.fileId || $('Extract Metadata').item.json.fileId;\n\nconst requestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 32768,\n  system: `You are a recipe extraction specialist. Extract recipe data from the provided PDF document and return ONLY valid JSON with no markdown formatting.\n\nIMPORTANT: For each recipe, include \"page_numbers\" - an array of the PDF page numbers (1-indexed) where that recipe appears. This is critical for linking recipes back to their source pages.\n\nReturn this exact structure:\n{\n  \"source_file\": \"filename\",\n  \"scanned_date\": \"YYYY-MM-DD\",\n  \"processed_date\": \"ISO timestamp\",\n  \"processing_notes\": \"your notes\",\n  \"confidence\": \"high|medium|low\",\n  \"total_pages\": 5,\n  \"recipes\": [{\n    \"name\": \"Recipe Name\",\n    \"page_numbers\": [1, 2],\n    \"description\": \"Brief description\",\n    \"ingredients\": [{\"name\": \"ingredient\", \"amount\": 1, \"unit\": \"cup\", \"notes\": \"diced\"}],\n    \"instructions\": [\"Step 1\", \"Step 2\"],\n    \"source_url\": null,\n    \"source_name\": \"Book Title, p.XX\",\n    \"prep_time\": 15,\n    \"cook_time\": 30,\n    \"total_time\": 45,\n    \"servings\": 4,\n    \"difficulty\": \"easy|medium|hard\",\n    \"tags\": [\"tag1\", \"tag2\"],\n    \"one_pot\": true,\n    \"no_oven\": true,\n    \"pressure_cooker\": false,\n    \"notes\": \"Tips and storage\",\n    \"incomplete_fields\": [],\n    \"extraction_notes\": null\n  }],\n  \"raw_text_extract\": \"Include if confidence is low\"\n}\n\nThis is for a sailboat galley - flag recipes requiring an oven (no_oven: false). Prefer one-pot meals. If text appears upside down or rotated, read it correctly. Return ONLY JSON.`,\n  messages: [{\n    role: 'user',\n    content: [\n      {\n        type: 'document',\n        source: {\n          type: 'base64',\n          media_type: 'application/pdf',\n          data: base64String\n        }\n      },\n      {\n        type: 'text',\n        text: `Extract all recipes from this PDF document. Filename: ${filename}. Remember to include page_numbers for each recipe.`\n      }\n    ]\n  }]\n};\n\nreturn {\n  json: {\n    apiRequest: requestBody,\n    filename: filename,\n    fileId: fileId\n  }\n};"
        },
        "name": "Build Claude Request",
        "type": "n8n-nodes-base.code",
        "position": [
          9632,
          3408
        ],
        "id": "c08cc353-b699-4aef-bc65-d59503c483ce",
        "typeVersion": 2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a7dec569-af9d-4050-845f-e526f4775b1c",
                "name": "claudeResponse",
                "value": "={{ $json }}",
                "type": "object"
              },
              {
                "id": "e6ad4441-3f49-4823-9f4f-96647f1d5b3a",
                "name": "fileId",
                "value": "={{ $('Extract Metadata').item.json.fileId }}",
                "type": "string"
              },
              {
                "id": "436c8fe9-7705-4b41-bd15-ed7c3e3c4d58",
                "name": "filename",
                "value": "={{ $('Extract Metadata').item.json.filename }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Preserve PDF Metadata",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          10080,
          3408
        ],
        "id": "9c306baf-745f-4b58-8a21-62d0524df0d5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0b15526a-9281-4110-a903-75f98ac7e62a",
                "name": "claudeResponse",
                "value": "={{ $json }}",
                "type": "object"
              },
              {
                "id": "f747400c-83d7-40f3-b11e-3a331bae51f5",
                "name": "fileId",
                "value": "={{ $('Extract Metadata').item.json.fileId }}",
                "type": "string"
              },
              {
                "id": "0707f763-5aff-444a-8484-bf6f38b718ba",
                "name": "filename",
                "value": "={{ $('Extract Metadata').item.json.filename }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Preserve Image Metadata",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          10080,
          3600
        ],
        "id": "8a69075a-079a-4481-a907-6b146add24b2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "recipeData",
                "value": "={{ $json }}",
                "type": "object"
              },
              {
                "id": "2",
                "name": "recipes",
                "value": "={{ $json.recipes }}",
                "type": "array"
              },
              {
                "id": "3",
                "name": "file_base64",
                "value": "={{ $('Extract From File (PDF to Base64)').item.json.data }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "filename",
                "value": "={{ $json.filename }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Preserve Binary for Galley Upload",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          10752,
          3312
        ],
        "id": "6ea80c47-dde6-4b61-b28e-05ab2b490fe8"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Preserve both binary AND base64\nconst binaryBuffer = $input.item.binary.data;\nlet base64String;\n\nif (typeof binaryBuffer === 'string') {\n  base64String = binaryBuffer;\n} else if (binaryBuffer instanceof ArrayBuffer) {\n  const view = new Uint8Array(binaryBuffer);\n  let binary = '';\n  for (let i = 0; i < view.byteLength; i++) {\n    binary += String.fromCharCode(view[i]);\n  }\n  base64String = btoa(binary);\n} else if (Buffer && Buffer.isBuffer(binaryBuffer)) {\n  base64String = binaryBuffer.toString('base64');\n} else if (binaryBuffer.data && typeof binaryBuffer.data === 'string') {\n  base64String = binaryBuffer.data;\n} else {\n  base64String = btoa(String(binaryBuffer));\n}\n\nreturn {\n  json: {\n    ...($input.item.json || {}),\n    file_base64: base64String\n  },\n  binary: $input.item.binary  // PRESERVE THE ORIGINAL BINARY\n};"
        },
        "name": "Preserve File as Base64",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8960,
          3504
        ],
        "id": "c9591c2b-0c72-42b1-a7ba-c3835739471a"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://192.168.20.16:3122/api/scans/upload-and-split",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"file\": $json.file_base64, \"filename\": $json.filename, \"recipes\": $json.recipes } }}",
          "options": {
            "timeout": 60000
          }
        },
        "name": "Upload Scan to Galley",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          10976,
          3312
        ],
        "id": "fe6b1c16-f8ad-470c-b66a-f0d25706e91a",
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Merge scan paths from Galley upload with original recipe data\n// Input: Upload Scan to Galley response with recipeScanPaths\n// Output: Enriched recipe data with source_image_path per recipe\n\n// Get the original recipe data from Check Confidence\nconst originalData = $('Check Confidence').item.json;\n\n// Get the scan paths from Upload Scan to Galley response\nconst uploadResponse = $json;\nconst scanPaths = uploadResponse.recipeScanPaths || [];\n\n// Create a map of recipe index to scan path\nconst scanPathMap = {};\nfor (const sp of scanPaths) {\n    if (sp.recipeIndex !== undefined && sp.scanPath) {\n        scanPathMap[sp.recipeIndex] = sp.scanPath;\n    }\n}\n\n// Clone the original data and add scan paths to each recipe\nconst enrichedData = JSON.parse(JSON.stringify(originalData));\n\nif (enrichedData.recipes && Array.isArray(enrichedData.recipes)) {\n    enrichedData.recipes = enrichedData.recipes.map((recipe, index) => {\n        return {\n            ...recipe,\n            source_image_path: scanPathMap[index] || null\n        };\n    });\n}\n\n// Also add the original file path\nenrichedData.original_scan_path = uploadResponse.originalFile || null;\n\nreturn { json: enrichedData };"
        },
        "name": "Merge Scan Paths",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          11200,
          3312
        ],
        "id": "157faa1a-e47d-4a02-8199-5ac384faa68d"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "scanner-trigger",
          "options": {}
        },
        "id": "5a0bc1e0-1b41-4417-b3f2-69210ed6aa9f",
        "name": "Trigger Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          7840,
          3408
        ],
        "webhookId": "2bf76818-c400-41a3-a9b2-5f3e418568a5"
      }
    ],
    "connections": {
      "Upload Scan to Galley (Code)": {
        "main": [
          []
        ]
      },
      "Daily 6am1": {
        "main": [
          [
            {
              "node": "List Scanned Recipes1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Scanned Recipes1": {
        "main": [
          [
            {
              "node": "Filter Files Only1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Files Only1": {
        "main": [
          [
            {
              "node": "Download File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File1": {
        "main": [
          [
            {
              "node": "Extract Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Metadata": {
        "main": [
          [
            {
              "node": "Preserve File as Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is PDF?": {
        "main": [
          [
            {
              "node": "Extract From File (PDF to Base64)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Image Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude Extract PDF": {
        "main": [
          [
            {
              "node": "Preserve PDF Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse PDF Results": {
        "main": [
          [
            {
              "node": "Check Confidence",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Image Request": {
        "main": [
          [
            {
              "node": "Claude Extract Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude Extract Image": {
        "main": [
          [
            {
              "node": "Preserve Image Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Image Results": {
        "main": [
          [
            {
              "node": "Check Confidence",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Confidence": {
        "main": [
          [
            {
              "node": "Preserve Binary for Galley Upload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Push to Failed",
              "type": "main",
              "index": 0
            },
            {
              "node": "Move to Processed (Failed)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract From File (PDF to Base64)": {
        "main": [
          [
            {
              "node": "Build Claude Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Claude Request": {
        "main": [
          [
            {
              "node": "Claude Extract PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preserve PDF Metadata": {
        "main": [
          [
            {
              "node": "Parse PDF Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preserve Image Metadata": {
        "main": [
          [
            {
              "node": "Parse Image Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preserve Binary for Galley Upload": {
        "main": [
          [
            {
              "node": "Upload Scan to Galley",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preserve File as Base64": {
        "main": [
          [
            {
              "node": "Is PDF?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Scan to Galley": {
        "main": [
          [
            {
              "node": "Merge Scan Paths",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Scan Paths": {
        "main": [
          [
            {
              "node": "Push to Pending",
              "type": "main",
              "index": 0
            },
            {
              "node": "Move to Processed (Success)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Webhook": {
        "main": [
          [
            {
              "node": "List Scanned Recipes1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Douglas Kimmerly",
    "name": "Version 7fe81bc2",
    "description": ""
  },
  "tags": []
}